:root {
  font-family: "Space Mono", "Inter Tight", "IBM Plex Mono", "SFMono-Regular", "Segoe UI", sans-serif;
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}
